<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzu.goods.dao.GoodsDao">
    <select id="getAllGoods" resultType="com.zzu.goods.pojo.Goods">
        SELECT * FROM goods
    </select>

    <select id="getGoodsById" resultType="com.zzu.goods.pojo.Goods">
        SELECT * FROM goods WHERE goods_id=#{goodsId}
    </select>
</mapper>